__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.eggs/
.venv/
.env
.env.*
.git/
.gitignore
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/
.coverage
htmlcov/
staticfiles/
media/
build/
dist/
